{% extends "base.html" %}

{% block title %}Kalendář{% endblock %}

{% block content %}
<h2 class="text-center"> {{ current_month }}</h2>

<div class="d-flex justify-content-between mb-3">
    <a href="{{ url_for('calendar_view', year=prev_year, month=prev_month) }}" class="btn btn-primary">
        <i class="bi bi-chevron-left"></i>
    </a>
    <a href="{{ url_for('calendar_view', year=next_year, month=next_month) }}" class="btn btn-primary">
        <i class="bi bi-chevron-right"></i>
    </a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            {% for day in cz_abbr_days %}
            <th>{{ day }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for week in days_matrix %}
        <tr>
            {% for day in week %}

<td class="text-center{% if day != 0 and day == current_day.day and month == current_day.month and year == current_day.year %} current_day bg-warning{% endif %}">
                {% if day != 0 %}
                <a href="{{ url_for('day_view', day=day, month=month, year=year) }}">{{ day }}</a>
                {% endif %}
                {% if day in events_by_day %} <div class="event-count"> <span class="badge bg-success">{{ events_by_day[day] }}</span> </div> {% endif %}

            </td>
            

            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Poslední události</h3>
    <hr>
{% if recent_events %}

    {% for event in recent_events %}
            <h5><a href="{{ url_for('edit_event', event_id=event.id) }}">{{ event.name }}</a></h5>

            {% if event.start_date == event.end_date %}
                <h6>
                <i class="bi bi-calendar-check"></i>
    <span>{{ event.start_date.strftime('%d.%m.%Y') }}</span>
{% else %}
    <span>{{ event.start_date.strftime('%d.%m.%Y') }} - {{ event.end_date.strftime('%d.%m.%Y') }}</span>
                </h6>
{% endif %}

<p class="mt-1 mb-3">{{ event.description }}</p>
        <p>{% if event.done %}
    <p><i class="bi bi-check-circle-fill text-success"></i></p>
{% else %}
    <p><i class="bi bi-x-circle-fill text-danger"></i></p>
{% endif %}
</p>
    {% endfor %}

{% else %}
    <p>Žádné události.</p>
{% endif %}

{% endblock %}
