{% extends "base.html" %}

{% block title %}Editovat Kategorii{% endblock %}

{% block content %}
    <h3>Editovat Kategorii</h3>
    <form method="post">
        <div class="form-group">
            <label for="name">Název Kategorie:</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ category.name }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Uložit Změny</button>
    </form>
    <a href="{{ url_for('categories_list') }}" class="btn btn-secondary">Zpět na seznam kategorií</a>
{% endblock %}
