{% extends "base.html" %}

{% block title %}Změna stylu{% endblock %}

{% block content %}
<h2 class="text-center">Změna stylu</h2>
<form method="post" action="/set-theme" class="mt-4">
    <div class="form-group">
        <label for="theme">Vyberte styl:</label>
        <select class="form-control" id="theme" name="theme">
            <option value="dark">Tmavý Modrý</option>
            <option value="light">Světlý</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Uložit</button>
</form>
<a href="{{ url_for('calendar_view', year=datetime.now().year, month=datetime.now().month) }}" class="btn btn-secondary mt-4"><i class="bi bi-arrow-left"></i> Zpět na kalendář</a>
{% endblock %}
